@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Poppins:ital,wght@1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Lobster&family=Poppins:ital,wght@1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Lobster&family=Poppins:ital,wght@1,200;1,300&family=Yeseva+One&display=swap');
*{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#headings{
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    padding-top: 15%;
    text-align: center;
    color: white;

}
.name{
    font-family: 'Dancing Script', cursive;
    font-size: 9rem;
    text-align: center;
    color: white;
    

}

.quote{
    font-family: 'Great Vibes', cursive;
    font-size: larger;
    text-align: center;
    color: white;
}


.myimage{
    width: 45%;
    height: 95%;
    padding-top: 15%;
    /* border-radius: %; */
    position: relative;
    
}


#bio{
    font-family: 'Yeseva One', cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 2%;
    color: thistle;
}

.head{
    color: #ff6464;
    text-align: center;
    padding-bottom: 2%;
}

.logos{
    width: 15%;
    height: 15%;
    box-sizing: border-box;
}

.content{
    font-family:'Yeseva One', cursive ;
    color: white;
}
.edu{
    text-align: center;
    color: thistle;
    font-family: 'Yeseva One', cursive;

}
.info{
    color:thistle ;
    text-align: center;
}
.acc{
    color: #ff6464;
    size: 15%;
}

.copyright{
    text-align: center;
    color: white;
    padding-top: 4%;
}
